<%= form_with(model: [ @product, @product.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :Kommentierender %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :Kommentar %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>