<h1>Liste aller Produkte</h1>
<%= link_to 'Neues Produkt', new_product_path %>

<table>
  <tr>
    <th>Produktname</th>
    <th>Produktbeschreibung</th>
    <th></th>
  </tr>

  <% @product.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.text %></td>
      <td><%= link_to 'Zeigen', product_path(product) %></td>
      <td><%= link_to 'Bearbeiten', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product_path(product), method: :delete, data: {confirm: 'Sind Sie sich sicher?'} %></td>
    </tr>
  <% end %>
</table>