<p>
  <strong>Produktname:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Produktbeschreibung:</strong>
  <%= @product.text %>
</p>

<h2>Kommentare:</h2>
<%= render @product.comments %>

<h2>Füge einen Kommentar hinzu:</h2>
<%= render 'comments/form' %>

<%= link_to 'Bearbeiten', edit_product_path(@product) %> |
<%= link_to 'Zurück', products_path %>